[Types]
class = tests.examples.TypeInstance
integer = 4
string = "String are having a good time"
dict = { "This" : "that" }
list = [ 1 , 2 , 3 , 4 ]
float = 2.0
int_string = '4'
tuple = (1,2,3)
complex = 1.5+2.0j


[TypesPartTwoWithZombies]
class = tests.examples.SubTypeInstance
inherit = Types
float = 5.0
foo = class-ref\Foos
bar = class-ref\{Foos,TypesPartTwo}

[TypesPartTwo]
inherit = Types
integer = 5
string = "Something Else"


[Foos]
class = tests.examples.FooInstance
world = 'Earth'

[TypesPartThreeTheReckoning]
class = tests.examples.SubSubInstance
inherit = TypesPartTwoWithZombies
topvar = 'top'