[Types]
class = tests.examples.TypeInstance
integer = 4
string = "String are having a good time"
dict = { "This" : "that" }
list = [ 1 , 2 , 3 , 4 ]
float = 2.0

[TypesPartTwo]
inherit = tests.examples.TypeInstance
integer = 5
string = "Something Else"


[Foos]
class = tests.examples.FooInstance
world = Earth